.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003049;
}

.Header h3 {
    color: white;
    white-space: nowrap;
}

.Header h3 {
    margin: 1em;
}

.div-navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}